.table_section{
    width: 96%;
    padding: 15px 2%;
}

.deistvuet,
.deistvuet td {
    background-color: #cff4bd!important;
 }
 .start_today,
 .start_today td {
    background-color: #aff58e!important;
 }

 .start_tomorrow,
 .start_tomorrow td {
    background-color: #bdf6a2!important;
 }

.end,
.end td {
    background-color: #f3c769!important;
}

.end_today,
.end_today td {
    background-color: #f4d082!important;
}

.end_tomorrow,
.end_tomorrow td {
    background-color: #f5d99d!important;
}

.anul,
.anul td {
    background-color: #f78964!important;
}
