.table_section{
    width: 96%;
    padding: 15px 2%;
}

.deistvuet td {
    background-color: #cff4bd!important;
 }

 .start_today td {
    background-color: #aff58e!important;
 }

 .start_tomorrow td {
    background-color: #bdf6a2!important;
 }

.end td {
    background-color: #f3c769!important;
}

.end_today td {
    background-color: #f4d082!important;
}

.end_tomorrow td {
    background-color: #f5d99d!important;
}

.anul td {
    background-color: #f78964!important;
}
