@layer primevue, sitestyle;

@layer sitestyle {
    @import "vars";
    @import "null";
    @import "fonts";
    @import "scroll";
    @import "text-styles";
    // @import "pagination";
    @import "standart";
    @import "form/all-form";
    @import "elements/all-elements";

    body{
        font-family: $main_fonts;
        font-size: 14px;
        color: $black_color;
    }

    header,
    footer,
    section{
        width: 100%;
        padding-top: $section_space;
        padding-bottom: $section_space;
    }

    .container{
        width:100%;
        max-width: $conteiner_max_w;
        margin: 0 auto;
    }

    .loader_icon {
        height: 50px;
        width: 100%;
    }

    .sprite_icon {
        width: 16px;
        height: 16px;
        fill: $black_color;
        stroke: $black_color;
    }

    .time_icon {
        width: 14px;
        height: 14px;
        fill: $black_color;
        stroke: $black_color;
    }

    .icon_button {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        display: flex;
        &:hover {
            background-color: transparent;
        }

        svg{
            margin: auto;
            width:30px;
            height:30px;
        }

    }

    .p20 {
        padding: 20px;
    }

    .mb10 {
        margin-bottom: 10px;
    }

    .df {
        display: flex;
    }

    .g20{
        gap: 20px;
    }

    .f1{
        flex:1
    }

    .f2{
        flex:2
    }

    .an_wrapper {
        display: flex;
        .an {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            font-size: 12px;
            border: 1px solid $gray_border_color;
            border-radius: 5px;
            margin-right: 5px;

            .b_head {
                padding: 5px 10px;
                display: flex;
                svg{
                    margin: auto 10px auto 0;
                }
            }

            .b_body {
                display: flex;
                flex-direction: column;
                padding: 5px 10px;
            }
        }
    }

    .columns {
        display: flex;
        gap:20px;
        .column {
            flex:1;
        }

        .cl_left {
            border-right: 1px solid $gray_border_color;
            padding-right: 20px
        }
    }

    .filter_card {
        position: sticky;
        top:0;
        z-index: 10;
    }

    .row_no_read {
        font-weight: bold
    }

    @import "header";
    @import "menues";
    @import "main-table";
    @import "controls";

    // Схема с сайдбаром
    // @import "sidebar-schem";
}
